#catalog-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $sp-m 0;
  max-width: 1600px;
  //max-height: calc(100vh - 100px);
  //overflow: scroll;
  //flex: 1;

  .item-container {
    display: flex;
    width: 100%;
    min-width: 300px;
    padding: $sp-l;
    flex: 1;
    margin: $sp-m;

    @media (min-width: $lg) {
      min-width: 400px;
    }

    .photo-unknown {
      font-size: 70px;
    }

    .photo-preview {
      width: 70px;
      height: 70px;
    }

    .item-content {
      margin-left: $sp-l;
    }
  }
}
