@import 'variables';

.root {
  display: flex;
  //min-height: 100vh;

  .app-bar {
    @media (min-width: $sm) {
      margin-left: $drawer-width;
      width: calc(100% - #{$drawer-width});
    }
  }

  .menu-button {
    margin-right: $sp-m;
    @media (min-width: $sm) {
      display: none;
    }
  }
}

.drawer {
  @media (min-width: $sm) {
    flex-shrink: 0;
    width: $drawer-width;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.drawer-paper {
  width: $drawer-width;
}

#content {
  flex-grow: 1;
  padding: 0 $sp-l $sp-l;
  height: 100vh;
  overflow: scroll;
}
